[Desktop Entry]
Type=Application
Name=Anki
Comment=An intelligent spaced-repetition memory training program

TryExec=anki
Exec=anki %f
Terminal=false
