[Desktop Entry]
Type=Application
Name=Bluetuith
Comment=Edit and manage bluetooth connections

Exec=bluetuith
Terminal=true
KittyOpts=-T bluetuith -o initial_window_width=90c -o initial_window_height=30c
