[Desktop Entry]
Type=Application
Name=Bluetuith
GenericName=Bluetooth manager
Comment=TUI-based bluetooth connection manager
Categories=System;Settings;Utility;ConsoleOnly;
Icon=bluetooth

# This will set an initial title for the
# terminal window (works with kitty)
Exec=-o initial_window_width=90c -o initial_window_height=30c -T bluetuith bluetuith
Terminal=true
