[Desktop Entry]
Type=Application
Name=Bottom
Comment=View and manage system processes

Exec=btm
Terminal=true
KittyOpts=-T bottom -o initial_window_width=100c -o initial_window_height=35c
