[Desktop Entry]
Type=Application
Name=Yubico Authenticator
GenericName=Authenticator
Comment=Yubico authenticator tool
Categories=Utility;
Icon=com.yubico.yubioath

Exec="/opt/yubico-authenticator/authenticator"
Terminal=false
