[Desktop Entry]
Type=Application
Name=CUPS
GenericName=Manage Printing
Comment=Manage CUPS system through a web interface

TryExec=xdg-open
Exec=xdg-open http://localhost:631/
Terminal=false
