[Desktop Entry]
Type=Application
Name=CUPS
Comment=Manage CUPS system through a web interface

TryExec=mime-open
Exec=mime-open -q http://localhost:631/
Terminal=false
