[Desktop Entry]
Type=Application
Name=Firefox
GenericName=Web Browser
Comment=Browse the World Wide Web
Categories=Network;WebBrowser;
Icon=firefox

TryExec=firefox
Exec=firefox %u
Terminal=false
