[Desktop Entry]
Type=Application
Name=GIMP
GenericName=Image Editor
Comment=Create images and edit photographs

TryExec=gimp-3.0
Exec=gimp-3.0 %U
Terminal=false
