[Desktop Entry]
Type=Application
Name=Htop
GenericName=Process Viewer
Comment=Show System Processes
Categories=System;Monitor;ConsoleOnly;
Icon=htop

Exec=htop
Terminal=true
