[Desktop Entry]
Type=Application
Name=Imv
GenericName=Image Viewer
Comment=Fast freeimage-based Image Viewer

TryExec=imv
Exec=imv-dir %F
Terminal=false

NoDisplay=true
