[Desktop Entry]
Type=Application
Name=Kitty
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
Categories=System;TerminalEmulator;
Icon=kitty

TryExec=kitty
Exec=kitty
