[Desktop Entry]
Type=Application
Name=Lf
GenericName=File Manager
Comment=View and manage files from the terminal

TryExec=lf
Exec=lf %F
Terminal=true
