[Desktop Entry]
Type=Application
Name=LibreOffice Calc
GenericName=Spreadsheet
Comment=Manage spreadsheets, perform calculations, analyze and manage lists

TryExec=libreoffice
Exec=libreoffice --calc %U
Terminal=false
