[Desktop Entry]
Type=Application
Name=LibreOffice Base
Comment=Manage databases, create queries and reports

TryExec=libreoffice
Exec=libreoffice --base %U
Terminal=false
