[Desktop Entry]
Type=Application
Name=LibreOffice
GenericName=Office
Comment=Launch LibreOffice applications

TryExec=libreoffice
Exec=libreoffice %U
Terminal=false
