[Desktop Entry]
Type=Application
Name=LibreOffice Impress
GenericName=Presentation
Comment=Create and edit presentations for slideshows, meetings and Web pages.
Categories=Office;Presentation;X-Red-Hat-Base;
Icon=libreoffice-impress

TryExec=libreoffice
Exec=libreoffice --impress %U
Terminal=false
