[Desktop Entry]
Type=Application
Name=LibreOffice Math
GenericName=Formula Editor
Comment=Create and edit scientific formulas and equations.
Categories=Office;Education;Science;Math;X-Red-Hat-Base;
Icon=libreoffice-math

TryExec=libreoffice
Exec=libreoffice --math %U
Terminal=false
