[Desktop Entry]
Type=Application
Name=LibreOffice Math
GenericName=Formula Editor
Comment=Create and edit scientific formulas and equations

TryExec=libreoffice
Exec=libreoffice --math %U
Terminal=false
