[Desktop Entry]
Type=Application
Name=LibreOffice Impress
Comment=Create and edit presentations

TryExec=libreoffice
Exec=libreoffice --impress %U
Terminal=false
