[Desktop Entry]
Type=Application
Name=LibreOffice Writer
Comment=Create and edit documents with text and graphics

TryExec=libreoffice
Exec=libreoffice --writer %U
Terminal=false
