[Desktop Entry]
Type=Application
Name=Mpv
GenericName=Multimedia Player
Comment=Play movies and songs

TryExec=mpv
Exec=mpv --player-operation-mode=pseudo-gui -- %U
Terminal=false
