[Desktop Entry]
Type=Application
Name=Ncspot
GenericName=Spotify Client
Comment=Cross-platform ncurses Spotify client written in Rust
Categories=AudioVideo;Audio;Player;ConsoleOnly
Icon=ncspot

Exec=ncspot
Terminal=true
