[Desktop Entry]
Type=Application
Name=Advanced Network Configuration
GenericName=Network Configuration Tool
Comment=Manage and change your network connection settings
Categories=GNOME;GTK;Settings;X-GNOME-NetworkSettings;X-GNOME-Utilities;
Icon=nm-device-wired

Exec=nm-connection-editor
Terminal=false
