[Desktop Entry]
Type=Application
Name=Advanced Network Configuration
Comment=Edit and manage your network connection settings

Exec=nm-connection-editor
Terminal=false
