[Desktop Entry]
Type=Application
Name=Simple Scan
GenericName=Document Scanner
Comment=Make a digital copy of your photos and documents

Exec=simple-scan
Terminal=false
