[Desktop Entry]
Type=Application
Name=Zathura
Comment=A minimalistic document viewer

TryExec=zathura
Exec=zathura %U
Terminal=false

MimeType=application/pdf;
