[Desktop Entry]
Type=Application
Name=Print Settings
GenericName=Print Settings
Comment=Configure printers
Categories=System;Settings;HardwareSettings;Printing;GTK;
Icon=printer

Exec=system-config-printer
Terminal=false
